# ===== for zsh/bash direnv =====
if [ -e "~/.nvm/nvm.sh" ]; then
    echo "~/.nvm/nvm.sh file exists"
    
    nvmrc=~/.nvm/nvm.sh
    source $nvmrc
    nvm use
fi

if [ ! -e "~/.nvm/nvm.sh" ]; then
    echo "~/.nvm/nvm.sh file NOT exists"
    
    nvm use v18.16.0
fi