# ===== for zsh/bash direnv =====
if [ -d "${HOME}/.nvm" ]; then
    echo "~/.nvm dir exists"
    
    nvmrc=~/.nvm/nvm.sh
    source $nvmrc
    nvm use
fi

if [ ! -d "${HOME}/.nvm" ]; then
    echo "~/.nvm dir NOT exists"
    
    nvm use v18.16.0
fi